<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListDataSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E40420E1D54E10D004F1320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E4042221D54E10D004F1320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E40422D1D54E10D004F1320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
